@model ScenerySlider.Models.Scene

@{
    ViewBag.Title = "Details";
    Scripts.Render("~/bundles/tour");
}
<h2>Tour</h2>
<script src="~/Scripts/jquery-3.4.1.js"></script>
<div class="bg-img"></div>
<p>
    <input type="text" id="data"/>
</p>
