@model ScenerySlider.Models.Scene

@{
    ViewBag.Title = "Details";
}
<div class="bg-img">
    <i style="top:50%; left:40%;" class="spot fas fa-arrow-up"></i>
    <i style="top:50%; left:50%;" class="spot fas fa-eye"></i>
    <i style="top:100%; left:100%;" class="spot fas fa-exclamation-circle"></i>
    <i style="top:50%; left:40%;" class="spot fa fa-arrow-up"></i>
</div>
<p>
    <input type="text" id="data"/>
</p>
