@model ScenerySlider.Models.Scene

@{
    ViewBag.Title = "Tour";
    <script>
        $(document).ready(function () {
            SwitchScene(9);
            function SwitchScene(id) {
                $.ajax({
                    url: "/Scenes/TourPanel/"+id,
                    success: function (result) {
                        $(".bg-img").html(result);
                    }
                });
            }
        });
    </script>
    <div class="bg-img">
    </div>
<p>
    <input type="text" id="data" />
</p>
