div.bg-img {
    background-image: url('../../Content/Images/Paço-Imperial.jpg');
    background-position: 0 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #888;
    /*width: 1820px;*/
    height: 600px;
    margin: 25px auto;
    border: 3px solid #888;
    border-radius: 25px;
    padding: 10px;
    box-shadow: 30px 30px 30px white inset, -30px -30px 30px white inset, -30px 30px 30px white inset, 30px -30px 30px white inset;
}

p, #data {
    text-align: center;
}

#data {
    background: white;
    font-weight: bold;
    color: rgb(0, 0, 0);
    padding: 5px;
    font-size: 1.4em;
    border: 1px solid #ddd;
    border-radius: 5px;
}
